<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896423596342-00mej18v31ibt15gpie3jhcanribu80i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896423596342-00mej18v31ibt15gpie3jhcanribu80i</string>
	<key>API_KEY</key>
	<string>AIzaSyD5GeTEH70pEuNFbISFS2tS8QvVqC7u5Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>896423596342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sotcks</string>
	<key>PROJECT_ID</key>
	<string>stocks-global</string>
	<key>STORAGE_BUCKET</key>
	<string>stocks-global.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896423596342:ios:ccef7845f531fbab0ae397</string>
</dict>
</plist>